// --------------------------------------------------
// Article Post
// --------------------------------------------------

.article-post {
	margin-bottom: 3rem;
}

.article-post__heading {
	@extend %adelle--bold;
	font-size: 1.728rem; /* 2.074rem; */
	line-height: 1.5;
	margin-bottom: 2rem;
	// font-size: type-scale(4);

	a {
		color: black; // Refactor?
		text-decoration: none;
	}
}

.article-post__copy {
	@extend %adelle;
	line-height: 1.5;
	margin-bottom: 2rem;
}

.article-post__img {
	margin-bottom: 2rem;
	max-width: 100%;
	width: 100%;
}

.article-post__post-date {
	@extend %adelle-sans;
	display: block;
	margin-bottom: 1rem;
	text-transform: uppercase;

	a{
		color: black;
		text-decoration: none;
	}
}

.article-post__read-more {
	border: 1px solid black;
  color: black;
  display: inline-block;
  margin-right: 1rem;
  padding: .5rem 1rem;
  text-decoration: none;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.article-post__tag-list {
	display: inline-block;
	font-size: .833rem;
}

.article-post__tag {
	@extend %adelle;
	display: inline;

	&:first-of-type {
		margin-right: .5rem;
	}

	&:not(:first-of-type):not(:last-of-type)::after {
 		content: ", ";
 	}
}