// --------------------------------------------------
// Global Nav
// --------------------------------------------------

.global-nav {
	@extend %page-wrapper;
	align-items: center;
	background-color: $dark-bg;
	display: flex;
	flex-direction: row;
	height: 60px;
	justify-content: flex-start;
	margin-bottom: 2rem;
	width: 100%;

	@media screen and (min-width: 570px){
		display: none;
	}
}

.global-nav__logo {
	@extend %adelle-sans;
	color: $text-on-dark-bg;
	text-decoration: none;
}