// --------------------------------------------------
// Global Nav
// --------------------------------------------------

// Vars
$global-nav-pad: 0 1rem;

.global-header {
	width: 100%;
}

// Global Nav -- Top
// --------------------------------------------------

.global-header--top {
	background-color: $dark-bg;
	color: $text-on-dark-bg;
	margin-bottom: 2rem;
}

.global-header__brand-header {
	border-bottom: 1px solid $light-border;
	height: 60px;
	padding: $global-nav-pad;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.global-header__brand {
	@extend %base-link;
	@extend %adelle-sans;
	color: $text-on-dark-bg;
}

.global-header__nav-toggle {
	background-color: $dark-bg;
	border: none;
	color: $text-on-dark-bg;
	cursor: pointer;
	font-size: 1.25rem;
}

.global-header__nav-list {
	display: none;
}

.global-header__nav-item {
	border-bottom: 1px solid $light-border;
	height: 60px;

	display: flex;
	align-items: center;
}

.global-header__search-bar, 
.global-header__nav-link {
	padding: $global-nav-pad;
}

.global-header__search-bar {
	flex: 1;

	display: flex;
	flex-direction: row;

	.search-bar__input{
		background-color: $dark-bg;
		border: none;
		color: $text-on-dark-bg;
		font-size: 1rem;
		height: 40px;
		flex: 10 0 0; 
	}

	input[type="submit"] {
		background-color: $dark-bg;
		border: none;
		color: $text-on-dark-bg;
		cursor: pointer;
		font-family: FontAwesome;
		font-size: 1rem;
		margin-right: 1rem;
		padding: 0;
	}
}

.global-header__nav-link {
	@extend %base-link;
	@extend %adelle-sans;
	color: $text-on-dark-bg;
	font-size: 0.79rem;
	text-transform: uppercase;
	line-height: 60px;

	&:hover {
		background-color: $light-border;
	}
}

// Global Nav -- Bottom
// --------------------------------------------------

.global-header--bottom {

}

.global-header__sub-heading {
	@extend %adelle-sans--bold;
}

.global-header__copy {
	@extend %adelle-sans;
	line-height: 1.6;
}