// --------------------------------------------------
// Footer
// --------------------------------------------------

.page-footer {
	@extend %page-wrapper;
	@extend %adelle-sans;
	align-items: center;
	background-color: $dark-bg;
	color: $text-on-dark-bg;
	display: flex;
	flex-direction: row;
	height: 60px;
	justify-content: center;
	width: 100%;
	margin-bottom: 0;
}