// --------------------------------------------------
// Layout
// --------------------------------------------------

%page-wrapper {
	display: flex;
	flex-direction: column;

	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0 1rem;
}

.page-wrapper {
	@extend %page-wrapper;

	@media screen and (min-width: 570px){
		flex-direction: row-reverse;
		
		padding-top: 75px;
		max-width: 85%;
	}// Convert to rems

	@media screen and (min-width: 860px){
		max-width: 840px;
	}
}