// --------------------------------------------------
// Typography
// --------------------------------------------------

// ----- TYPOGRAPHY VARIABLES
//
// USAGE
//
// @function type-scale($n, $ts-base, $ts-ratio)
// $n represents the exponent of the type scale as a number. (required)
// type-scale(0) will return the base type size (1rem or 16px)
// $ts-base represents the base size for the scale. Defaults to the global base font size as a number with units. (optional)
// $ts-scale rrepresents the scale in use. Defaults to the global scale. (optional)

$ts-base: 1rem;
$ts-scale: 1.200; // Minor Third

@function type-scale($n, $ts-base:$ts-base, $ts-scale:$ts-scale){
  @return $ts-base * pow($ts-scale,$n);
}

$base-font-size: 16px;

// Font Declarations
// --------------------------------------------------

%adelle {
	font-family: "adelle", serif;
}

%adelle--bold {
	@extend %adelle;
	font-weight: 700;
}

%adelle-sans {
	font-family: "adelle-sans", sans-serif;
}

%adelle-sans--bold {
	@extend %adelle-sans;
	font-weight: 700;
}

// Links
// --------------------------------------------------

%base-link {
	color: black;
	text-decoration: none;
}